$admin-primary: $dark;
$admin-secondary: darken($dark, 5%);

$admin-link-color: $admin-primary;

$admin-body-bg: #f9f9f9;

$admin-text-color: #4a4a4a;

$admin-header-bg: $dark;

$admin-header-text: #eee;

$admin-sidebar-bg: $dark;
$admin-sidebar-header-bg: $admin-secondary;

$color-lime500: #cddc39;
$color-red700: #d32f2f;
$color-blue700: #1976d2;

$admin-header-height: 50px;
$admin-footer-height: 40px;
// Sub Header
$admin-subheader-height: 60px;
// Notification Bar
$admin-notification-bar-height: 40px;
// LeftNav
$admin-sidebar-width: 240px;

$admin-gutter: 30px;

$admin-leftnav-width: $admin-sidebar-width;
$admin-rightnav-width: $admin-sidebar-width;

$admin-primary-sidebar-menu-width: 40px;

$material-easing: unquote('cubic-bezier(0.25, 0.8, 0.25, 1)');

$admin-active-tab-color: #4e92df;
