$color_black: #000000;

$color_white: #ffffff;
$color_fullBlack: rgba(0, 0, 0, 1);
$color_transparent: rgba(0, 0, 0, 0);
$color_darkBlack: rgba(0, 0, 0, 0.87);
$color_lightBlack: rgba(0, 0, 0, 0.54);
$color_minBlack: rgba(0, 0, 0, 0.26);
$color_faintBlack: rgba(0, 0, 0, 0.12);
$color_fullWhite: rgba(255, 255, 255, 1);
$color_darkWhite: rgba(255, 255, 255, 0.87);
$color_lightWhite: rgba(255, 255, 255, 0.54);
$color_red50: #ffebee;
$color_red100: #ffcdd2;
$color_red200: #ef9a9a;
$color_red300: #e57373;
$color_red400: #ef5350;
$color_red500: #f44336;
$color_red600: #e53935;
$color_red700: #d32f2f;
$color_red800: #c62828;
$color_red900: #b71c1c;
$color_redA100: #ff8a80;
$color_redA200: #ff5252;
$color_redA400: #ff1744;
$color_redA700: #d50000;

$color_pink50: #fce4ec;
$color_pink100: #f8bbd0;
$color_pink200: #f48fb1;
$color_pink300: #f06292;
$color_pink400: #ec407a;
$color_pink500: #e91e63;
$color_pink600: #d81b60;
$color_pink700: #c2185b;
$color_pink800: #ad1457;
$color_pink900: #880e4f;
$color_pinkA100: #ff80ab;
$color_pinkA200: #ff4081;
$color_pinkA400: #f50057;
$color_pinkA700: #c51162;

$color_purple50: #f3e5f5;
$color_purple100: #e1bee7;
$color_purple200: #ce93d8;
$color_purple300: #ba68c8;
$color_purple400: #ab47bc;
$color_purple500: #9c27b0;
$color_purple600: #8e24aa;
$color_purple700: #7b1fa2;
$color_purple800: #6a1b9a;
$color_purple900: #4a148c;
$color_purpleA100: #ea80fc;
$color_purpleA200: #e040fb;
$color_purpleA400: #d500f9;
$color_purpleA700: #aa00ff;

$color_deepPurple50: #ede7f6;
$color_deepPurple100: #d1c4e9;
$color_deepPurple200: #b39ddb;
$color_deepPurple300: #9575cd;
$color_deepPurple400: #7e57c2;
$color_deepPurple500: #673ab7;
$color_deepPurple600: #5e35b1;
$color_deepPurple700: #512da8;
$color_deepPurple800: #4527a0;
$color_deepPurple900: #311b92;
$color_deepPurpleA100: #b388ff;
$color_deepPurpleA200: #7c4dff;
$color_deepPurpleA400: #651fff;
$color_deepPurpleA700: #6200ea;

$color_indigo50: #e8eaf6;
$color_indigo100: #c5cae9;
$color_indigo200: #9fa8da;
$color_indigo300: #7986cb;
$color_indigo400: #5c6bc0;
$color_indigo500: #3f51b5;
$color_indigo600: #3949ab;
$color_indigo700: #303f9f;
$color_indigo800: #283593;
$color_indigo900: #1a237e;
$color_indigoA100: #8c9eff;
$color_indigoA200: #536dfe;
$color_indigoA400: #3d5afe;
$color_indigoA700: #304ffe;

$color_blue50: #e3f2fd;
$color_blue100: #bbdefb;
$color_blue200: #90caf9;
$color_blue300: #64b5f6;
$color_blue400: #42a5f5;
$color_blue500: #2196f3;
$color_blue600: #1e88e5;
$color_blue700: #1976d2;
$color_blue800: #1565c0;
$color_blue900: #0d47a1;
$color_blueA100: #82b1ff;
$color_blueA200: #448aff;
$color_blueA400: #2979ff;
$color_blueA700: #2962ff;

$color_lightBlue50: #e1f5fe;
$color_lightBlue100: #b3e5fc;
$color_lightBlue200: #81d4fa;
$color_lightBlue300: #4fc3f7;
$color_lightBlue400: #29b6f6;
$color_lightBlue500: #03a9f4;
$color_lightBlue600: #039be5;
$color_lightBlue700: #0288d1;
$color_lightBlue800: #0277bd;
$color_lightBlue900: #01579b;
$color_lightBlueA100: #80d8ff;
$color_lightBlueA200: #40c4ff;
$color_lightBlueA400: #00b0ff;
$color_lightBlueA700: #0091ea;

$color_cyan50: #e0f7fa;
$color_cyan100: #b2ebf2;
$color_cyan200: #80deea;
$color_cyan300: #4dd0e1;
$color_cyan400: #26c6da;
$color_cyan500: #00bcd4;
$color_cyan600: #00acc1;
$color_cyan700: #0097a7;
$color_cyan800: #00838f;
$color_cyan900: #006064;
$color_cyanA100: #84ffff;
$color_cyanA200: #18ffff;
$color_cyanA400: #00e5ff;
$color_cyanA700: #00b8d4;

$color_teal50: #e0f2f1;
$color_teal100: #b2dfdb;
$color_teal200: #80cbc4;
$color_teal300: #4db6ac;
$color_teal400: #26a69a;
$color_teal500: #009688;
$color_teal600: #00897b;
$color_teal700: #00796b;
$color_teal800: #00695c;
$color_teal900: #004d40;
$color_tealA100: #a7ffeb;
$color_tealA200: #64ffda;
$color_tealA400: #1de9b6;
$color_tealA700: #00bfa5;

$color_green50: #e8f5e9;
$color_green100: #c8e6c9;
$color_green200: #a5d6a7;
$color_green300: #81c784;
$color_green400: #66bb6a;
$color_green500: #4caf50;
$color_green600: #43a047;
$color_green700: #388e3c;
$color_green800: #2e7d32;
$color_green900: #1b5e20;
$color_greenA100: #b9f6ca;
$color_greenA200: #69f0ae;
$color_greenA400: #00e676;
$color_greenA700: #00c853;

$color_lightGreen50: #f1f8e9;
$color_lightGreen100: #dcedc8;
$color_lightGreen200: #c5e1a5;
$color_lightGreen300: #aed581;
$color_lightGreen400: #9ccc65;
$color_lightGreen500: #8bc34a;
$color_lightGreen600: #7cb342;
$color_lightGreen700: #689f38;
$color_lightGreen800: #558b2f;
$color_lightGreen900: #33691e;
$color_lightGreenA100: #ccff90;
$color_lightGreenA200: #b2ff59;
$color_lightGreenA400: #76ff03;
$color_lightGreenA700: #64dd17;

$color_lime50: #f9fbe7;
$color_lime100: #f0f4c3;
$color_lime200: #e6ee9c;
$color_lime300: #dce775;
$color_lime400: #d4e157;
$color_lime500: #cddc39;
$color_lime600: #c0ca33;
$color_lime700: #afb42b;
$color_lime800: #9e9d24;
$color_lime900: #827717;
$color_limeA100: #f4ff81;
$color_limeA200: #eeff41;
$color_limeA400: #c6ff00;
$color_limeA700: #aeea00;

$color_yellow50: #fffde7;
$color_yellow100: #fff9c4;
$color_yellow200: #fff59d;
$color_yellow300: #fff176;
$color_yellow400: #ffee58;
$color_yellow500: #ffeb3b;
$color_yellow600: #fdd835;
$color_yellow700: #fbc02d;
$color_yellow800: #f9a825;
$color_yellow900: #f57f17;
$color_yellowA100: #ffff8d;
$color_yellowA200: #ffff00;
$color_yellowA400: #ffea00;
$color_yellowA700: #ffd600;

$color_amber50: #fff8e1;
$color_amber100: #ffecb3;
$color_amber200: #ffe082;
$color_amber300: #ffd54f;
$color_amber400: #ffca28;
$color_amber500: #ffc107;
$color_amber600: #ffb300;
$color_amber700: #ffa000;
$color_amber800: #ff8f00;
$color_amber900: #ff6f00;
$color_amberA100: #ffe57f;
$color_amberA200: #ffd740;
$color_amberA400: #ffc400;
$color_amberA700: #ffab00;

$color_orange50: #fff3e0;
$color_orange100: #ffe0b2;
$color_orange200: #ffcc80;
$color_orange300: #ffb74d;
$color_orange400: #ffa726;
$color_orange500: #ff9800;
$color_orange600: #fb8c00;
$color_orange700: #f57c00;
$color_orange800: #ef6c00;
$color_orange900: #e65100;
$color_orangeA100: #ffd180;
$color_orangeA200: #ffab40;
$color_orangeA400: #ff9100;
$color_orangeA700: #ff6d00;

$color_deepOrange50: #fbe9e7;
$color_deepOrange100: #ffccbc;
$color_deepOrange200: #ffab91;
$color_deepOrange300: #ff8a65;
$color_deepOrange400: #ff7043;
$color_deepOrange500: #ff5722;
$color_deepOrange600: #f4511e;
$color_deepOrange700: #e64a19;
$color_deepOrange800: #d84315;
$color_deepOrange900: #bf360c;
$color_deepOrangeA100: #ff9e80;
$color_deepOrangeA200: #ff6e40;
$color_deepOrangeA400: #ff3d00;
$color_deepOrangeA700: #dd2c00;

$color_brown50: #efebe9;
$color_brown100: #d7ccc8;
$color_brown200: #bcaaa4;
$color_brown300: #a1887f;
$color_brown400: #8d6e63;
$color_brown500: #795548;
$color_brown600: #6d4c41;
$color_brown700: #5d4037;
$color_brown800: #4e342e;
$color_brown900: #3e2723;

$color_blueGrey50: #eceff1;
$color_blueGrey100: #cfd8dc;
$color_blueGrey200: #b0bec5;
$color_blueGrey300: #90a4ae;
$color_blueGrey400: #78909c;
$color_blueGrey500: #607d8b;
$color_blueGrey600: #546e7a;
$color_blueGrey700: #455a64;
$color_blueGrey800: #37474f;
$color_blueGrey900: #263238;

$color_grey50: #fafafa;
$color_grey100: #f5f5f5;
$color_grey200: #eeeeee;
$color_grey300: #e0e0e0;
$color_grey400: #bdbdbd;
$color_grey500: #9e9e9e;
$color_grey600: #757575;
$color_grey700: #616161;
$color_grey800: #424242;
$color_grey900: #212121;
