@import 'ui-framework/ui';

:local(.container) {
    color: #fff;
    height: 80px;
    padding: 1rem;
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    .header-logo {
        color: $dark;
        display: flex;
        align-items: center;
        .logo-image {
            height: 60px;
            width: 60px;
        }
        .logo-text {
            margin-bottom: 0;
            margin-left: 0.5rem;
            font-size: 16px;
            font-weight: $font-weight-bold;
        }
    }
    .donate-button {
        button {
            border-width: 2px;
        }
    }
}
