@import 'ui-framework/ui';

:local(.container) {
    color: rgba($dark, 0.7);
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    .app-name {
        &:after {
            content: '';
            border-bottom: 2px solid rgba($dark, 0.7);
            width: 100px;
            display: block;
            margin: 0.5rem auto 0 auto;
        }
    }
    .app-demo {
        display: flex;
        justify-content: center;
        align-items: center;
        .demo-image {
            width: 128px;
            height: 128px;
        }
        i {
            font-size: 20px;
        }
    }
    .login-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0;
    }
    .modal-dialog {
        max-height: calc(90vh);
        max-width: 60vw;
        @include media-breakpoint-down(md, $grid-breakpoints) {
            max-width: 60vw;
        }
        @include media-breakpoint-down(sm, $grid-breakpoints) {
            max-width: 90vw;
        }
    }
    .modal-title {
        padding-top: 1rem;
    }
    .modal-body {
        padding: 1rem 30px;
        ol {
            padding-inline-start: 1rem;
        }
    }
    .modal-footer {
        border-top: none;
        padding: 0 30px 1rem;

        .btn {
            cursor: pointer;
        }

        .btn-cancel {
            margin-right: 1rem;
            @include media-breakpoint-down(md, $grid-breakpoints) {
                margin-right: 0.25rem;
            }
        }
    }
}
