@import 'ui-framework/ui';
@import 'bootstrap/scss/bootstrap';
@import './custom-bootstrap.scss';

body {
    background-color: #fff;
    color: $dark;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

#root,
.app-main {
    display: block;
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
}

.app-main {
    color: inherit;
}

.app-main .material-icons {
    font-size: inherit;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}
.flex-horizontal {
    display: flex;
    flex-direction: row;
}
.flex-horizontal-reverse {
    display: flex;
    flex-direction: row-reverse;
}
.a-center {
    align-items: center;
}
.j-center {
    justify-content: center;
}
.j-around {
    justify-content: space-around;
}
.j-end {
    justify-content: flex-end;
}

.fill,
.flex-1 {
    flex: 1;
}

.page-container {
    min-height: 100vh;
}

.page-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

.bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.section-title-underlined {
    margin-bottom: map-get($spacers, 5);
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: (-1 * map-get($spacers, 3));
        height: 3px;
        background-color: $dark;
        width: map-get($spacers, 4);
    }
    &:not(:first-child) {
        margin-top: map-get($spacers, 4);
    }
    &.underline-center {
        &:after {
            left: 50%;
            margin-left: map-get($spacers, 2) * -1;
        }
    }
}

.btn-responsive {
    font-size: $font-size-base;

    @include media-breakpoint-up(md, $grid-breakpoints) {
        font-size: $font-size-base * 2;
    }

    @include media-breakpoint-up(sm, $grid-breakpoints) {
        padding: map-get($spacers, 2) map-get($spacers, 3);
    }
    @include media-breakpoint-only(sm, $grid-breakpoints) {
        padding: map-get($spacers, 1) map-get($spacers, 2);
    }
    @include media-breakpoint-only(xs, $grid-breakpoints) {
        padding: (map-get($spacers, 1) * 0.5) map-get($spacers, 2);
    }
}

.no-overflow {
    overflow: hidden;
}

.btn-rounded-white {
    padding: 10px 70px;
    text-align: center;
    border-radius: 32px;
    cursor: default;
    @include _shadow-2();
    transition: box-shadow 0.24s ease-in-out;
    margin-top: map-get($spacers, 3);
    margin-bottom: map-get($spacers, 3);
    &:hover {
        @include _shadow-3();
    }
}

@keyframes animate-progress-bar {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}
